h1 {
    color: green;
    font-style: italic;
}

h2 {
    color: purple;
}

.warning-success {
    color: green;
    margin: 3px;
    padding: 10px;
    background-color: lightblue;
    border: 5px solid;
}

.warning-error {
    color: red;
    margin: 3px;
    padding: 10px;
    background-color: lightblue;
    border: 5px solid;
}